<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <!-- navbar settings -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home_page')}}">
          <i class="material-icons photo-icon">photo_size_select_small</i>
          Online Photo Editor
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                style="display: none"
                >Home</a
              >
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <input
                type="file"
                id="id_image"
                name="image"
                accept="image/*"
                style="display: none"
              />
              <button class="nav-buttons open-button">
                <a
                  href="{{url_for('home_page')}}"
                  style="text-decoration: none; color: white"
                  >New</a
                >
              </button>
              <!-- Task 12: Update the following `Download` button with your solution -->
              <button
                id="download-image"
                class="download-disabled download-button nav-buttons"
              >
                Download
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <div class="d-flex">
      <!-- sidebar settings -->
      <div
        class="sidebar d-flex flex-column justify-content-center align-items-center"
      >
        <!-- Task 3: Replace the following `crop-option` container with the updated code -->
        <div
          id="crop-option"
          style="cursor: pointer; color: white"
          class="d-flex flex-column disabled"
          onclick="clickCropOption()"
        >
          <i class="material-icons">crop</i>
          Crop
        </div>
        <div class="d-none justify-content-center pt-3 pb-3" id="crop-fields">
          <button onclick="cropImage()" class="apply-button">Apply</button>
        </div>
        <!-- Task 5: Replace the following `resize-option` container with the updated code -->
        <div
          id="resize-option"
          style="cursor: pointer; color: white"
          class="d-flex flex-column disabled"
        >
          <i class="material-icons ms-1 w-50">fullscreen</i>
          Resize
        </div>

        <!-- Task 7: Replace the following `rotate-option` container with the updated code -->
        <div
          id="rotate-option"
          style="cursor: pointer; color: white"
          class="d-flex flex-column disabled"
        >
          <i class="material-icons ms-1">autorenew</i>
          Rotate
        </div>

        <!-- Task 9: Replace the following `text-option` container with the updated code -->
        <div
          id="text-option"
          style="cursor: pointer; color: white"
          class="d-flex flex-column disabled"
        >
          <i class="material-icons">text_fields</i>
          Text
        </div>
      </div>
      <div class="editor">
        <!-- Task 11: Update reset template here -->
        <div id="reset-area" class="justify-content-center">
          <button class="reset-button" id="reset-button">Reset</button>
        </div>

        <!-- Task 1+2+8: Add template here -->
        <div
          class="bg-grey col-image pe-5"
          style="width: 600px; height: 600px"
          id="canvas-upload-container"
        >
          <canvas
            class="canvas"
            width="600"
            height="600"
            id="canvas1"
            style="position: absolute"
          >
          </canvas>
        </div>
        <div
          class="bg-grey col-image pe-5"
          style="width: 600px; height: 600px"
          id="canvas-upload-container"
        >
          <input
            type="file"
            id="input-image"
            name="image"
            accept="image/*"
            style="display: none;"
          />
          <button id="upload-area" class="upload-area justify-content-center>
            <i class="material-icons add-icon">add</i>
            <div class="upload-button">Upload your Images</div>
          </button>
          <canvas
            class="canvas"
            width="600"
            height="600"
            id="canvas1"
            style="position: absolute;"
          >
          </canvas>
        </div>
        <!-- Task 3: add template for image crop feature here -->

        <!-- Task 5: add template for image resize here -->

        <!-- Task 7: add template for image rotate feature here -->

        <!-- Task 9: add template for text addition feature here -->
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static',filename='editor.js')}}"></script>
  </body>
</html>
